name: {{cookiecutter.name}}
channels:
  - conda-forge
dependencies:
  - pip=25.3
  - plotly=6.4.0
  - python={{cookiecutter.python}}
  - streamlit=1.51.0
  - pip:
{%- if cookiecutter.writing_docs == "yes" %}
      - mkdocs-glightbox==0.5.2
      - mkdocs-material==9.6.23
      - mkdocs-minify-plugin==0.8.0
      - mkdocs==1.6.1
      - neoteroi-mkdocs==1.1.3
{%- endif %}
      - pip-check-updates==0.27.0
