-r requirements.txt
{%- if cookiecutter.writing_docs == "yes" %}
mkdocs-glightbox==0.3.7
mkdocs-material==9.5.14
mkdocs-minify-plugin==0.8.0
mkdocs==1.5.3
neoteroi-mkdocs==1.0.5
{%- endif %}
pip-check-updates==0.26.1
